* {
    background: black;
}

h1 {
	font-family: Arial;
	color: white; 
	font-size: 75px;
	font-weight: normal;
	letter-spacing: 8px;
	text-align: right;
	height: 200px;
	width: auto;
	margin: 0 0 50px;
	padding: 30px 30px 0 0;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/12771.jpg);
}

img {
    
    margin: 20px;
    display: inline-block;
    height: 500px;
    
}

.photo {
    margin: 0 auto;
    text-align: center;
    
}
